/*Portada*/
.portada{
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada-img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.video {
    width: 300px;
    height: 200px;
    display: inline-flex;
}
.video-presentacion {
    margin: 50%;
    padding: 50px 70px; 
}