/*titulo*/
.titulo{
    color: black;
    font-size: 200px;
    text-align: center;
    font-weight: normal;    
    font-style: italic;
    z-index: 1;
}
.segundo-texto{
    color: black;
    background-color: rgb(114, 114, 119);
    font-size: 40px;
    text-align: center;
    font-weight: normal;    
    font-style: italic;  
}
.tercer-texto{
    color: black;
    background-color: rgb(114, 114, 119);
    font-size: 40px;
    text-align: center;
    font-weight: normal;    
    font-style: italic;  
}