@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ojuju";
}
/*titulo*/
.titulo{
    color: black;
    font-size: 200px;
    text-align: center;
    font-weight: normal;    
    font-style: italic;
    z-index: 1;
}
.segundo-texto{
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: normal;    
    font-style: italic;  
}
/*formulario*/
.form-contacto{
    background-color: rgb(114, 114, 119);
    width: 550px;
    margin: 20px auto 20px auto;
    padding: 20px;
    border-radius: 5px;
} 
.form-contacto-grup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

}
.from-contanto-gurpo-laber{
    color: white;

}
.from-contanto-gurpo-imput{
    width: 100%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}
.from-contanto-gurpo-texarea{
    width: 100%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
}
.formulario-contacto-boton{
    width: 100%;
    font-weight: bold;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px 5px;
}
.formulario-contacto-boton:hover{
    background-color:rgba(21, 140, 177, 0.952);
}
/*opciones*/
.opciones{
    margin: 30px 0px;
   
}
.opciones-opcion{
    background-color: rgb(114, 114, 119); 
    padding: 40px;
    color: black;
}

/*navegador*/
.navegador{
    width: 100%;
    padding: 10px;
    position: sticky;
    display: flex;
    gap: 20px;
    background-color: black;
    top: 0px;
    z-index: 2;

}
.navegador img{
    width: 80px;
    height: 80px;
}
.navegador-links{
    display: flex;
    gap: 30px;
}
.navegador-link a{
    display: block;
    padding: 20px 5px;
    color: aliceblue;
    text-decoration: none;
}
.navegador-link{
    gap: 30px;
    list-style: none;
}
/*Portada*/
.portada{
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada-img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.video-presentacion{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: end;
}
/*tarjetas*/

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}
.tarjeta{
    width: 300px;
    background-color: rgb(114, 114, 119);
    margin: 70px;
    padding: 30px;
    position: relative;
    display: flex
    flex-direction:table-column
    gap: 40px 40px;
}
.tarjeta-img{
    width: 90%;
    height: 150px;
    object-fit: cover;
}
.tarjeta-descripcion{
    color: black
}
.botonPrimario{
    width: 100px;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    right: 5px; 
    transition: 0.5s;
}
.botonPrimario:hover{
    background-color:rgba(21, 140, 177, 0.952);
    width: 150px;
  
}
.galeria{
    width: 100%;
    margin: auto;
    padding: 0px;
    display: grid;
    gap: 0px;    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,100px);
    grid-template-areas: "img1 img3 img3 img6"
                         "img1 img3 img3 img6"
                         "img1 img2 img5 img6"
                         "img4 img2 img5 img7"
                         "img4 img2 img5 img7"
                         "img4 img2 img5 img7";
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.galeria img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

/*fotter*/
.pielogo{
    width: 100px;
    height: 100px;
    display: grid;
    margin: auto;
}
.pietexto{
    color: black;
    font: 25px;
    padding: 20px 0px;
    text-align: center;
}
.piered{
    color: black;
    font: 25px;
    font-size: medium;
    padding: 20px 0px;
}
/*caja*/
.caja{
    width: 300px;
    height: 400px;
    background-color: rgb(114, 114, 119);
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 80px;
    display: inline-flex; 
    overflow: auto;
    position: relative;
}
.caja-titulo{
     color:  black;
     font-style: unset;
     text-align: center;
     padding: 10px;
     position: absolute;
}
.caja-texto{
    color: black;
    font: caption;
    padding: 40px 50px;
    position: absolute;
}
/* Media Query*/
@media (max-width: 1024px){
    .titulo{
        font-size: 150px;
    }
}
@media (max-width: 992px){
    .titulo{
        font-size: 100px;
    }
    .galeria{
        width: 100%;
    }
    .tarjeta{
        margin-bottom: 20px;
    }
}
@media (max-width: 768px){
    .titulo{
        font-size: 60px;
    }
}
@media (max-width: 480px){
    .titulo{
        font-size: 48px;
    }
}